<!DOCTYPE html>
<html>
<head>
{{> meta }}
</head>
<body>

{{> header }}

<main{{#if navsub}} class="subpages"{{/if}}>

  <div class="content">

    <article>

      {{#if tag}}
        <h1>{{ tag }}</h1>
      {{/if}}

      {{#each pagination.files }}
        <p> 
          <a href="/{{ path }}">{{ title }}</a>
        </p>
      {{/each}}


    </article>

    {{> navsub }}

  </div>

</main>

{{> footer }}

</body>
</html>
