<footer>
    <p>Hardened by Lukas Trumm &copy; {{ site.lastEditYear }} of
        <a href="http://www.metalsmith.io/">pure metal</a>
        while running on
        <a href="http://www.netlify.com/">this net</a>.
    </p>
</footer>