{{#if navsub}}
	<ul class="pagelist">

	{{#each navsub}}
		<li>
			<a href="{{ path }}">

				<h2>{{ title }}</h2>
				<p class="articleinfo">{{ dateFormat }}</p>

				{{#if description}}
					<p>{{ description }}</p>
				{{/if}}
			</a>
		</li>
	{{/each}}

	</ul>
{{/if}}
