<meta charset="utf-8">
<title>{{#if title}}{{ title }} - {{/if}}{{ site.name }}</title>
{{#if description}}
  <meta name="description" content="{{ description }}" />
{{/if}}

<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

<link rel="stylesheet" media="all" href="{{ site.root }}css/styles.css" />
