/**
 * Based on
 * prism.js default theme for JavaScript, CSS and HTML
 * which is Based on dabblet (http://dabblet.com)
 */

:root {
  --button-bg-hover: #a3a19e;
  --button-bg: #cfcdca;
  --button-fg: #fff;
  --highlight-line: hsl(42deg 77% 87%);
  --highlight-line-add: #8599004b;
  --highlight-line-remove: #dc322f4b;
  --code-fg: var(--text-color);
  --code-bg: hsl(46deg 20% 94%);
  --code-executable-bg: hsl(3deg 9% 98%);
  --code-comment-fg: #626e7a;
  --code-symbol-fg: #905;
  --code-string-fg: #517a00;
  --code-operator-fg: #9a6e3a;
  --code-tag-fg: #07a;
  --code-function-fg: #c62e4d;
  --code-variable-fg: #996100;
  --code-result: #fff;
  --code-selection: rgb(200 200 200 / 50%);
  --font-family-code: 'Fira Mono', consolas, monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
  --font-size-code: 15px;
  --font-size-code-fenced-block: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-bg-hover: #a3a19e;
    --button-bg: #cfcdca;
    --button-fg: #fff;
    --highlight-line: hsl(54deg 30% 23%);
    --highlight-line-add: hsl(68deg 100% 30% / 29%);
    --highlight-line-remove: hsl(1deg 71% 52% / 29%);
    --code-fg: var(--text-color);
    --code-bg: #2d2d2d;
    --code-executable-bg: hsl(3deg 9% 13%);
    --code-comment-fg: #999;
    --code-symbol-fg: #fc6;
    --code-string-fg: #9c9;
    --code-operator-fg: #c9c;
    --code-tag-fg: #f2777a;
    --code-function-fg: #69c;
    --code-variable-fg: #f2777a;
    --code-result: #111;
    --code-selection: rgb(200 200 200 / 50%);
  }
}

.copy-to-clipboard-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-code);
  background-color: var(--code-bg);
  color: var(--code-comment-fg);
}

.copy-to-clipboard-button:hover {
  border-radius: 3px;
  color: var(--button-fg);
  background-color: var(--button-bg-hover);
}

.run-code-button-next-to-copy {
  right: 60px;
  font-weight: normal;
}

/* line highlighting */

.highlight-line {
  display: inline-block;

  /* del, ins, mark default styles */
  text-decoration: none;
  color: inherit;
}

.highlight-line-active {
  background-color: var(--highlight-line);
}

.highlight-line-add {
  background-color: var(--highlight-line-add);
}

.highlight-line-add::before {
  content: '+';
  position: relative;
  left: -0.35em;
  margin-left: -0.5em;
  color: var(--green);
}

.highlight-line-remove {
  background-color: var(--highlight-line-remove);
}

.highlight-line-remove::before {
  content: '-';
  position: relative;
  left: -0.35em;
  margin-left: -0.5em;
  color: var(--red);
}

.highlight-line:not(:last-child) {
  min-width: 100%;
}

.highlight-line .highlight-line:not(:last-child) {
  min-width: 0;
}

/* pre */

code[class*='language-'],
pre[class*='language-'] {
  color: var(--text-color);
  background-color: var(--code-bg);
  font-family: var(--font-family-code);
  font-size: var(--font-size-code-fenced-block);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  hyphens: none;
}

pre * {
  margin: 0;
}

pre .title {
  font-size: 0.85rem;
  color: var(--code-comment-fg);
  position: relative;
  top: -1em;
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
}

/* Code blocks */
pre[class*='language-']:not(.klipse-actual) {
  overflow: auto;
  border-radius: 0.25em;
  padding: 1.4em;
  padding-top: 1.6em;
}

/* Inline code */
:not(pre) > code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
  border-radius: 0.25em;
  padding: 2px 5px;
  white-space: normal;
  background-color: var(--code-bg);
}

/* Code result */

.code-result {
  background: var(--code-result);
  white-space: initial;
}

/* Tokens */

.token.punctuation,
.token.function,
.token.selector,
.token.attr-name {
  color: var(--code-fg);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment-fg);
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-symbol-fg);
}

.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-string-fg);
}

.token.keyword,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--code-operator-fg);
}

.token.tag,
.token.atrule {
  color: var(--code-tag-fg);
}

.token.class-name {
  color: var(--code-function-fg);
}

.token.interpolation-punctuation,
.token.regex,
.token.important,
.token.variable {
  color: var(--code-variable-fg);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
