/* settings */

:root {
  --primary-color: hsl(0, 0%, 44%);
  --secondary-color: hsl(240, 64%, 55%);
  --text-color: hsl(60, 4%, 13%);
  --back-color: #eaeaea;
  --light: #fafafa;
  --body-back-color: hsl(60, 32%, 98%);
  --heading-font: 'Raleway', sans-serif;
  --body-font: 'Libre Baskerville', serif;
}

/* general */

/* lobotomized owl selector */
* + * {
  margin-top: calc(1.24 * 1.24em);
}

.margins-off > * {
  margin-top: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--body-font);
  font-size: 17px;
  line-height: 1.6rem;
  background-color: var(--body-back-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

ul > li + li {
  margin-top: 0.4em;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p > * {
  margin-top: initial;
}

blockquote {
  color: var(--primary-color);
  border-left: 6px solid var(--back-color);
  padding-left: 1rem;
}

/* layout */

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
  position: relative;
}

main {
  padding-bottom: 70px;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-top: 1px solid var(--back-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer > * {
  padding: 1rem 0.5rem;
}

footer a {
  color: var(--primary-color);
}

.copyright {
  border-left: 1px solid var(--primary-color);
  padding: 0.3rem 0.5rem;
}

.social-icon {
  position: relative;
  bottom: -2px;
}

.social-icon svg {
  fill: currentColor;
  height: 1rem;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.6rem 0 0.45rem 0;
  margin: 0;
  border-bottom: 1px solid var(--back-color);
}

header a {
  color: var(--text-color);
  text-decoration: none;
}

header h1 {
  font-size: 1.3rem;
}

header nav,
header ul,
header h1 {
  margin: 0;
}

header nav ul {
  display: flex;
  align-items: baseline;
}

header nav li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 0.2rem;
  padding-left: 10px;
  padding-right: 8px;
}

header nav li::before {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  margin-left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
  content: '';
}

header nav .is-active {
  font-weight: bold;
  font-size: 1.1rem;
}

header nav li:nth-child(1)::before {
  display: none;
}

/* article */

.article-description {
  color: var(--primary-color);
}

.article-content {
  position: relative;
}

.article-content.has-excerpt > p:first-child {
  font-style: italic;
}

/* code blocks */

pre * + * {
  margin-top: 0.2rem;
}

pre[class*='language-'],
code[class*='language-'] {
  font-family: 'Fira Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace !important;
  border-radius: 4px;
}

code {
  font-size: 1rem;
  line-height: 1.5rem;
}

.copy-to-clipboard-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--primary-color);
  padding: 2px 5px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.copy-to-clipboard-button:hover {
  background-color: var(--back-color);
}

/* toc */

.table-of-contents {
  font-size: 0.9rem;
  border: 1px solid var(--back-color);
  background-color: var(--light);
  padding: 0 0.6rem;
  margin: 0;
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents a:hover {
  text-decoration: underline;
}

.table-of-contents ul {
  padding-left: 0;
}

.table-of-contents ul li {
  list-style-type: none;
}

/* header anchor */
.header-anchor {
  text-decoration: none;
  color: var(--back-color);
}

.header-anchor:hover {
  color: var(--primary-color);
}
