/* settings */

:root {
  /* heights and widths */
  --max-width: 725px;
  --small-font: 0.9rem;

  /* site colors */
  --primary-color: hsl(352, 0%, 44%);
  --secondary-color: hsl(352, 68%, 48%);
  --secondary-color-light: hsl(352, 68%, 77%);
  --tertiary-color: hsl(240, 64%, 55%);

  --text-color: hsl(352, 4%, 13%);
  --back-color: hsl(352, 5%, 80%);
  --light: hsl(352, 19%, 96%);
  --body-back-color: hsl(352, 19%, 99%);
  --box-shadow: rgba(0, 0, 0, 0.12);

  /* fonts */
  --heading-font: 'Raleway', Arial, Helvetica, sans-serif;
  --heading-font-weight: 600;
  --body-font: 'Charter', Georgia, serif;
  --font-size: 18px;

  /* solarized colors */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --yellow-light: #d1b45a88;
  --orange-light: #df8f6788;
  --red-light: #e9807688;
  --magenta-light: #e382a888;
  --violet-light: #a5a5cf88;
  --blue-light: #7bb5d888;
  --cyan-light: #7ec2b588;
  --green-light: #b5be5a88;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* site colors */
    --primary-color: hsl(352, 0%, 70%);
    --secondary-color: hsl(352, 100%, 66%);
    --secondary-color-light: hsl(352, 68%, 77%);
    --tertiary-color: hsl(240, 64%, 55%);

    --text-color: hsl(352, 4%, 89%);
    --back-color: hsl(352, 5%, 80%);
    --light: hsl(352, 19%, 25%);
    --body-back-color: hsl(352, 4%, 13%);

    --box-shadow: rgba(255, 255, 255, 0.12);
  }
}

/* general */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* lobotomized owl selector */
article * + * {
  margin-top: calc(1.15 * 1.2em);
}

html,
body {
  height: 100%;
  font-family: var(--body-font);
  font-size: var(--font-size);
  line-height: 1.5;
  background-color: var(--body-back-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

ul > li + li,
ul ul,
ol > li + li,
ol ol {
  margin-top: 0.1em;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  text-decoration-color: var(--secondary-color-light);
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;
}

p > * {
  margin-top: initial;
}

blockquote {
  color: var(--primary-color);
  border-left: 6px solid var(--back-color);
  padding-left: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tbody td,
table thead th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px 0;
  text-align: left;
  padding: 0.5em 0.6em;
  vertical-align: top;
}

table tbody tr:last-child td {
  border-bottom-width: 0;
}

time {
  font-size: var(--small-font);
  color: var(--primary-color);
  font-style: italic;
}

/* layout */

.page-wrapper {
  position: relative; /* footer at the bottom */
  min-height: 100vh; /* footer at the bottom */
}

main {
  margin: 0 auto;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem; /* footer at the bottom */
  max-width: var(--max-width);
}

/* footer */

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  position: absolute; /* footer at the bottom */
  bottom: 0; /* footer at the bottom */
  left: 0;
  width: 100%; /* footer at the bottom */
  font-size: var(--small-font);
  box-shadow: inset 1px 2px 3px 0 var(--box-shadow);
  border-radius: 2px;
}

.page-footer > * {
  padding: 1em 0.6em;
  margin: 0;
}

.page-footer a {
  color: var(--primary-color);
}

.copyright {
  border-left: 1px solid var(--back-color);
  padding: 0.2rem 0.7rem;
}

.social-icon {
  position: relative;
  bottom: -3px;
}

.social-icon svg {
  fill: currentColor;
  height: 1rem;
}

/* page header */

.page-header {
  box-shadow: 1px 2px 3px 0 var(--box-shadow);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: var(--max-width);
  padding: 0.6rem 0 0.5rem 0.2rem;
  margin: 0 auto;
  font-family: var(--heading-font);
}

.header-content a {
  color: var(--text-color);
}

.header-content * {
  margin: 0;
}

.site-name {
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--primary-color);
  white-space: nowrap;
}

.site-name a {
  padding-left: 7px;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0.3em;
  font-size: 1.06rem;
}

.header-nav li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 0.2rem;
  padding-left: 10px;
  padding-right: 8px;
}

.header-nav li::before {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  margin-left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
  content: '';
}

.header-nav .is-active {
  font-weight: bold;
}

.header-nav li:nth-child(1)::before {
  display: none;
}

/* article */

.post-content {
  position: relative;
  overflow-wrap: break-word;
}

.post-content.has-excerpt > p:first-child {
  font-style: italic;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--back-color);
}

.post-content:not(.has-excerpt) {
  border-top: 1px solid var(--back-color);
}

.post-content:not(.has-excerpt) > *:first-child {
  margin-top: calc(1.24 * 1.24em);
}

hr {
  display: none;
}

.footnotes {
  border-top: 1px solid var(--back-color);
}

/* images */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
}

article img,
article svg {
  height: auto;
  max-width: 100%;
}

.hide-white-background {
  mix-blend-mode: darken;
}

/* toc */

.table-of-contents {
  font-family: var(--heading-font);
  font-size: var(--small-font);
  border-bottom: 1px solid var(--back-color);
}

.table-of-contents a:hover {
  text-decoration: underline;
}

.table-of-contents ul {
  margin-top: 0.5em;
}

.toc-heading {
  margin-top: 1em;
  font-weight: bold;
}

/* header anchor */
.header-anchor,
.header-anchor:visited {
  visibility: hidden;
}

.header-anchor {
  color: var(--primary-color);
}

.header-anchor:hover {
  text-decoration: none;
}

:focus > .header-anchor,
:focus > .header-anchor:visited,
:hover > .header-anchor,
:hover > .header-anchor:visited,
.header-anchor:focus,
.header-anchor:focus:visited {
  visibility: visible;
}

/* updates */

.updates {
  color: var(--primary-color);
  font-style: italic;
}

.updates .toc-heading {
  font-family: var(--heading-font);
  font-size: var(--small-font);
}

.updates ul {
  margin-top: 0.5em;
}

/* tags */

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article .tags {
  justify-content: flex-end;
}

.tag-badge {
  color: var(--primary-color);
  font-family: var(--heading-font);
  border-radius: 2px;
  border: 1px solid var(--back-color);
  font-size: var(--small-font);
  line-height: 1.2;
  margin: 0.3em;
  padding: 1px 5px;
  white-space: nowrap;
}

.tag-badge:hover {
  background-color: var(--light);
  border: 1px solid var(--primary-color);
  text-decoration: none;
}

.tag-badge .count {
  font-family: arial, sans-serif;
}

/* mermaid */

.mermaid * {
  font-size: 0.88rem !important;
  line-height: initial;
  font-family: var(--heading-font) !important;
}

.mermaid .green > * {
  fill: var(--green-light) !important;
  stroke: var(--green) !important;
}

.mermaid .red > * {
  fill: var(--red-light) !important;
  stroke: var(--red) !important;
}

.mermaid .blue > * {
  fill: var(--blue-light) !important;
  stroke: var(--blue) !important;
}

.mermaid .violet > * {
  fill: var(--violet-light) !important;
  stroke: var(--violet) !important;
}

.mermaid .yellow > * {
  fill: var(--yellow-light) !important;
  stroke: var(--yellow) !important;
}

.mermaid .orange > * {
  fill: var(--orange-light) !important;
  stroke: var(--orange) !important;
}

.mermaid .cyan > * {
  fill: var(--cyan-light) !important;
  stroke: var(--cyan) !important;
}

.mermaid .magenta > * {
  fill: var(--magenta-light) !important;
  stroke: var(--magenta) !important;
}

.mermaid .edgeLabel {
  background-color: var(--body-back-color) !important;
}

/* utils */

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* search */

.search-wrapper {
  position: relative;
  text-align: center;
  max-width: 500px;
}

.search-input {
  width: 300px;
}

.search-results {
  align-self: flex-start;
  color: var(--primary-color);
}

.search-match {
  font-style: normal;
  background-color: var(--yellow-light);
  color: var(--text-color);
}

/* cards */

.cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--max-width) / 3), 1fr)
  );
}

.cards.full-width {
  grid-template-columns: 1fr;
}

.card {
  border: 1px solid #dddbda;
  border-radius: 0.1em;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 1em 0.7em;
}

.card .excerpt {
  font-size: var(--small-font);
}

.card br {
  margin: 0;
}

.card a.article-title {
  width: 100%;
  display: inline-block;
}

.card-embed a {
  display: block;
  height: 100%;
  border: 1px solid var(--back-color);
}

.card-embed a:hover {
  border: 1px solid var(--primary-color);
}

/* buttons */

.button {
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font);
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--body-back-color);
}

.button:hover {
  cursor: pointer;
  background-color: var(--text-color);
  border-color: var(--text-color);
}

.run-code-button {
  margin-top: 0;
  padding: 0.3em 0.4em;
  font-size: 0.9rem;
}
